<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create new deposit</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript">

$(document).ready(function(){
	
	setTimeout(function(){document.getElementById("msg").style.visibility="collapse"}, 4000);
	
	});
	
	function valid(addr)
	{
		 if(addr!=="")
			 {
			 req = new XMLHttpRequest();
	        req.open("GET","https://app.geocodeapi.io/api/v1/search?apikey=2c9d0760-1237-11eb-b098-d3d0a68228d6&text="+addr, true);
	        req.onreadystatechange = function () {
	          if (req.readyState == 4) {
	            responseData= JSON.parse(req.responseText);
	            
	            if(responseData.features.length == 0)
	            	{
	            		document.getElementById("validate").innerHTML="*Not Valid Location" 
	            			document.getElementById("mj").disabled=true
	            	}
	            else
	            	{
	            	document.getElementById("validate").innerHTML="*Valid Location" 
	            	document.getElementById("mj").disabled=false
	            	}
	            }
	          
	        };
			 }
		 else
     	{
     	document.getElementById("validate").innerHTML="" 
     		document.getElementById("mj").disabled=true
     	}
	        req.send();
	}
	
window.onload = function()
{
	in_val = document.getElementById("adr").value;
	valid(in_val)
		 
	}
	
	
</script>
</head>
<body>
<h1>Add a New Branch</h1>
<div>
<h2 th:text="${msg}" id="msg"></h2>
</div>


<form action="#" th:action="@{/contactus/add}" method="post" th:object="${bank}">

Bank Id: <input type="number" th:field="*{id}"  required />
<span class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{accNo}" ></span>
	<br/>
	
Bank Name: <input type="text" th:field="*{name}" required />
<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>
	<br/>
	
Bank Address: <input type="text" id="adr" th:field="*{address}" oninput=valid(this.value) required />
<span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></span>
<span id="validate"></span>
	<br/>
	
Bank contact: <input type="text" th:field="*{phone_no}" required />
<span class="error" th:if="${#fields.hasErrors('phone_no')}" th:errors="*{phone_no}" ></span>
	<br/>
	
<input type="submit" id="mj" value="Submit" disabled/>
</form>
</body>
</html>