 <!DOCTYPE html>
    <html xmlns="https://www.thymeleaf.org">
    <head>
    <meta charset="ISO-8859-1">
    <title>Contact Us</title>
    
  <script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy0yBhdPeRndGL1bK_rDVOT9CqsGdngfQ&callback=initMap">
</script>
 


    <script type="text/javascript">
    function initialize()
	{
		var address = "Near to Makadiya Balaji, laxmangarh"
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode( { 'address': address}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				var latitude = results[0].geometry.location.lat();
				console.log(latitude);
				var longitude = results[0].geometry.location.lng();
				console.log(longitude);
			} 
		});
	}

  	var userList;
  	
    function request(url) {
        req = new XMLHttpRequest();
        req.open("GET", url, true);
        req.onreadystatechange = function () {
          if (req.readyState == 4) {
            userList = JSON.parse(req.responseText);
            
            var data="<table><tr><th>Bank Id</th><th>Bank Name</th><th>Bank Address</th><th>Bank Contact</th></tr>"
            
            userList.forEach((ele)=>{
            	
            data+="<tr><td>"+ele.id+"</td><td>"+ele.name+"</td><td>"+ele.address+"</td><td>"+ele.phone_no+"</td></tr>"
            	
            })
            
            data+="</table>"
            document.getElementById('tab').innerHTML = data;
            
            initialize();
      
          }
        };
        req.send();
      }
    
    </script>
    </head>
    <body>
    <h1 id = "name"></h1>
    
    <script>
    document.getElementById('name').innerHTML= "Welcome "+localStorage.getItem("username").toUpperCase();
    </script>
    
    <h2>Contact Information</h2>
    <button id="b1" onclick="request('/admin/branches/')">Load data</button>
     <a href="logout">Logout</a>
	<div id='tab'></div>
    </body>
    </html>