 <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Branch Edit Page</title>

<style>
.error{
color:blue;
}
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript">

$(document).ready(function(){
	
	setTimeout(function(){document.getElementById("msg").style.visibility="collapse"}, 4000);
	
	});
	
	function valid(addr)
	{
		 if(addr!=="")
			 {
			 req = new XMLHttpRequest();
	        req.open("GET","https://app.geocodeapi.io/api/v1/search?apikey=2c9d0760-1237-11eb-b098-d3d0a68228d6&text="+addr, true);
	        req.onreadystatechange = function () {
	          if (req.readyState == 4) {
	            responseData= JSON.parse(req.responseText);
	            
	            if(responseData.features.length == 0)
	            	{
	            		document.getElementById("validate").innerHTML="*Not Valid Location" 
	            			document.getElementById("validate").style.color="blue"
	            			document.getElementById("mj").disabled=true
	            			return false
	            	}
	            else
	            	{
	            	document.getElementById("validate").innerHTML="*Valid Location" 
	            		document.getElementById("validate").style.color="green"
	            	document.getElementById("mj").disabled=false
	            	return true
	            	
	            	}
	            }
	          
	        };
			 }
		 else
     	{
     	document.getElementById("validate").innerHTML="" 
     		document.getElementById("mj").disabled=true
     		return false
     	}
	        req.send();
	}
	
window.onload = function()
{
	 let str = document.getElementById("adr").val;
	 valid(str)
	}
	
</script>


</head>
<body class="w3-animate-top w3-black">
<div class="w3-panel w3-red w3-mobile w3-right-align w3-text-black w3-red">
    <h1 id ="name"></h1>
    <h3 id ="name">Branch Edit Page</h3>
    </div>
    <script>
    document.getElementById('name').innerHTML= "Welcome "+localStorage.getItem("username").toUpperCase();
    </script>
   

<!-- <h2 th:text="${msg}" id="msg" class="w3-blue w3-text-black"></h2> -->

<form action="#" th:action="@{/contactus/edit}" method="post" th:object="${branch}" class="w3-padding-large" >

<div class="w3-text-red w3-xlarge">Bank Id: <span th:text="*{id}"></span></div> <br/>
<input type="hidden" th:field="*{id}" />

<table class="w3-table">
<tr>
<td>
<label class="w3-text-red w3-margin-top"><h4>Branch Name:</h4></label>
<input type="text" th:field="*{name}" class="w3-input w3-black w3-text-white w3-border-white w3-border w3-round" required />
<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>
<br/>
</td>
<td>
<label class="w3-text-red w3-margin-top"><h4>Branch Address:</h4></label>
<input type="text" id="adr" th:field="*{address}" oninput=valid(this.value) class="w3-input w3-black w3-text-white w3-border-white w3-border w3-round" required />
<span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></span>
<span id="validate"></span>
<br/>
</td>
</tr>
<tr>
<td>
<label class="w3-text-red w3-margin-top"><h4>Branch Contact:</h4></label>
<input type="text" th:field="*{phone_no}" class="w3-input w3-black w3-text-white w3-border-white w3-border w3-round" required />
<span class="error" th:if="${#fields.hasErrors('phone_no')}" th:errors="*{phone_no}" ></span>
<br/>
</td>
</tr>

</table>
<br/>
<div class="w3-center">
<input type="submit" id="mj" value="Submit" class="w3-button w3-center w3-round w3-red w3-text-black w3-hover-black w3-hover-text-red w3-hover-border-red" disabled/>
<br />
</div>

</form>
<br>
<!-- <hr />
	<footer class="w3-text-red w3-right-align w3-padding">&copy; Copyright 2020 HJ</footer>  -->	
</body>
</html>