 <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Fail</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-red">
<div class="w3-center">
<h2>The User name or Password was Incorrect.</h2>
<button onclick="window.location.href='/login';" class ="w3-button w3-border w3-round w3-black w3-hover-blue">Try Again</button>
</div>
</body>
</html>